* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-box {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 100vw;
}

.login-box img {
  width: 200px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
}

.login-box input {
  font-size: 1.4rem;
  margin: 2px 0;
}

.login-box button {
  background-color: #4daa88;
  border-radius: 6px;
  color: #d4d4d4;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 0 0;
  padding: 3px;
}

.login-box button:hover {
  background-color: #6bbd9f;
}

.login-box button:disabled {
  background-color: #8f8f8f;
  color: #b3b3b3;
}

.login-box button:nth-of-type( 2 ) {
  background-color: #2e5c4b;
}

.login-box button:nth-of-type( 2 ):hover {
  background-color: #3f7d67;
}
